{#
/**
* @file
* Default theme implementation to display a paragraph.
*
* Available variables:
* - paragraph: Full paragraph entity.
* Only method names starting with "get", "has", or "is" and a few common
* methods such as "id", "label", and "bundle" are available. For example:
* - paragraph.getCreatedTime() will return the paragraph creation timestamp.
* - paragraph.id(): The paragraph ID.
* - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
* - paragraph.getOwnerId(): The user ID of the paragraph author.
* See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
* and methods for the paragraph object.
* - content: All paragraph items. Use {{ content }} to print them all,
* or print a subset such as {{ content.field_example }}. Use
* {{ content|without('field_example') }} to temporarily suppress the printing
* of a given child element.
* - attributes: HTML attributes for the containing element.
* The attributes.class element may contain one or more of the following
* classes:
* - paragraphs: The current template type (also known as a "theming hook").
* - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
* "Image" it would result in "paragraphs--type--image". Note that the machine
* name will often be in a short form of the human readable label.
* - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
* preview would result in: "paragraphs--view-mode--preview", and
* default: "paragraphs--view-mode--default".
* - view_mode: View mode; for example, "preview" or "full".
* - logged_in: Flag for authenticated user status. Will be true when the
* current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
* is an administrator.
*
* @see template_preprocess_paragraph()
*
* @ingroup themeable
*/
#}

{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
'paragraph-id--' ~ paragraph.id(),
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished',
paragraph.field_content_display.value
]
%}

{% block paragraph %}
    <div {{ attributes.addClass(classes) }}>
        {% block content %}

            {% set list_type = paragraph.field_select_list_type.value %} 

            {% if list_type == 'main_content_video' %}
                {# {% if content.field_video is not empty %} #}
                {% if content.field_vimeo_video is not empty %}
                    <div class="single-main-content-video">

                        {% set image_url = file_url(paragraph.field_thumbnail_image.entity.uri.value) %}

                       {{ content.field_vimeo_video }}
                        {# {% if image_url %}
                            <img class="thumbnail-section" src="{{ image_url }}" alt="image" width="310" height="170" />
                            {% set video_url = file_url(content.field_video['#items'].entity.uri.value) %}
                            <video class="video-section" width="100%" height="100%" controls>
                                <source src="{{ video_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        

                            <div class="custom-controls">
                                <button class="playPauseBtn"><span class="btn-icon">Play</span></button>
                            </div>
                        {% endif %} #}

                    </div>
                {% endif %}
            {% else %}

                <div class="single-main-content-video-accordian-wrapper" >

                    {% set id = paragraph.field_video_heading.value|replace({' ': '_', '-': '_'}) %}

                    <div class="accordion" id="text-accordian-{{ id }}">      

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ id }}">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id }}" aria-expanded="false" aria-controls="collapse{{ id }}">
                                {{ paragraph.field_video_heading.value|raw }}
                                </button>
                            </h2>
                            <div id="collapse{{ id }}" class="accordion-collapse collapse show" aria-labelledby="{{ id }}" data-bs-parent="#text-accordian-{{ id }}">
                                <div class="accordion-body">
                                

                                <div class="single-main-content-video-accordian">
                                    {% set image_url = file_url(paragraph.field_thumbnail_image.entity.uri.value) %}
                                    
                                    {# {{ content.field_vimeo_video }}
                                    {{content.field_vimeo_video_for_fr}}  #}
                                    {% if lang_code == 'en' %}
                                    {{ content.field_vimeo_video }}
                                    {% elseif lang_code == 'fr' %}
                                        {{ content.field_vimeo_video_for_fr }}
                                    {% endif %}
                                    {# {{dump(lang_code)}} #}
                        

                                    {# {% if image_url %}
                                        <img class="thumbnail-section" src="{{ image_url }}" alt="image" width="310" height="170" />                        
                                        {% set video_url = file_url(content.field_video['#items'].entity.uri.value) %}
                                        <video class="video-section" width="100%" height="100%" controls>
                                            <source src="{{ video_url }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>                                  
                            
                                        <div class="custom-controls">
                                            <button class="playPauseBtn"><span class="btn-icon">Play</span></button>
                                        </div>  
                                    {% endif %}           #}
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endblock %}
    </div>
{% endblock %}